/*Estilos generales*/ 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #a7d3a6, #add7a3, #b3dba1, #bbdf9d, #c3e39a, #cae597, #d1e793, #d8e990, #dfeb8c, #e7ec88, #efee85, #f7ef81);
}
/* Estilos para contenedor principal*/
#app {
    background-color: #ADD2C2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Estilos para el formulario */
form {
    display: flex;
    justify-content: space-between;
}
/* Estilos al input*/
input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;

}
/* Estilos al botón*/
button {
    padding: 5px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/*Estilos para la lista*/
ul {
    list-style: none;
    padding: 0;
}
/*Estilos para el elemento de la lista*/
li {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Estilos para el elemento completaod de la lista*/
li.completed {
    text-decoration: line-through;
    color: #888;
}